.header {
  position: fixed;
  top: 0;
  left: 260px;
  right: 0;
  height: 90px;
  padding: 0 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
  z-index: 90;
}

.header ul {
  display: flex;
  gap: 56px;
  font-size: 13px;
  font-weight: 700;
}

.mode-btn {
  width: 22px;
  height: 22px;
  border: 2px solid #503d44;
  border-radius: 50%;
  font-size: 12px;
}

.header button {
  font-weight: 700;
}
