.portfolio {
  min-height: 100vh;
}


/* =========================
   SIDEBAR + BOTTOM BAR
========================= */

.global-ui {
  opacity: 0;
  visibility: hidden;

  /* 중요:
     global-ui 자체는 절대 클릭 이벤트를 받지 않음 */
  pointer-events: none;

  transition:
    opacity 0.6s ease,
    visibility 0.6s ease;
}

.global-ui.show {
  opacity: 1;
  visibility: visible;

  /* 여기 auto 넣으면 안 됨 */
  pointer-events: none;
}


/* 실제 UI만 클릭 가능 */

.sidebar,
.bottom-bar {
  pointer-events: auto;
}


/* =========================
   MAIN
========================= */

.main {
  position: relative;

  min-height: 100vh;
  padding-bottom: 140px;

  transition: margin-left 0.8s ease;
}


/* Intro 화면 */

.main.intro-mode {
  margin-left: 0;
}


/* Enter 이후 */

.main.with-ui {
  margin-left: 260px;
}